
.headTitle {
    display: flex;
    flex-direction: row;
}

.headTitleName {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 36px;
    position: relative;
    margin-right: 10vw;
}

.bodyBlueContainer {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    background-color: #205295;
    border-radius: 5px;
    padding: 2px;
    width: fit-content;
    margin-top: 10px;
}

.bodyContainer {
    flex-grow: 4;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px
}

.addButton {
    margin-top: 10px;
    position: relative;
}

.entireBody {
    display: flex;
    flex-direction: row;
}
