.App {
  text-align: center;
  background-color: #61dafb;
}

.error{
  color: red;
  font-size: 13px;
  text-align: left;
  margin-top: 1px;
}
.app-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.app-content {
  padding-left: 1px; 
}