.note2{
    background-color: white;
    width:237px;
    height:208px;
    margin-left: 100px;
    
    border-radius: 20px;
    padding-top: 6px;

}

.note3{
    background-color: white;
    width:237px;
    height:208px;
    margin-left: 100px;
    
    border-radius: 20px;
    padding-top: 6px; 
}