@import "/src/fonts.css";

.Ph1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 36px;
  position: relative;
}
.Ph2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  background-color: #205295;
  width: fit-content;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.Ph3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  flex-direction: column;
  display: flex;
  margin-right: 20px;
  align-self: center;
}

.h4m {
  margin-bottom: 0px;
  margin-left: 5px;
}

.TableHeaders {
  font-family: "Inter", sans-serif;
  position: sticky !important;
  margin-bottom: 4px;
  z-index: 3;
}
.stiky {
  position: sticky;
  left: 0;
}

.upperSection {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.Header {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  position: relative;
  margin-right: 12vw;
}
.header2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 34px;
  position: relative;
  margin-right: 5vw;
}

.ManageAuctionPageContainer__header {
  padding-right: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.MiddleSectionN {
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tableContainer {
  border-radius: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.search {
  align-self: flex-end;
  margin-left: 20px;
}

.baseTableContainer {
  border-radius: 20px;
}
.downSection {
  overflow-x: hidden;
  margin-top: 15px;
}

.OuterMiddle {
  display: flex;
  flex-direction: column;
}

.ViewButton {
  background-color: #205295 !important;
}

.ViewButton:hover {
  background-color: #2c74b3 !important;
}
