.rejectButton {
  background-color: #205295 !important;

  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  color: #ffffff !important;
}
.rejectButton:hover {
  background-color: #4573af !important;
  color: #ffffff !important;
}
