@import "../../../fonts.css";

.efmpp_mainBody {
  margin-left: 60px;
}

.efmpp_heading {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 36px;
  position: relative;
  margin-top: 30px;
}

.efmpp_title_search {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.efmpp_title label {
  font-family: Mulish;
  font-size: 16px;
  margin-left: 10px;
  color: #ffffff;
}

.efmpp_table {
  margin-bottom: 30px;
  margin-left: 10px;
}

.efmpp_button {
  position: relative;
}

.efmpp_ActionButonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.afmpp_title_search {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.Ph2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  background-color: #205295;
  width: fit-content;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.OuterMiddle {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 5px;
}

.ActionButonsContainer{
  display: flex;
  flex-direction: row;
}

.approveButton {
  background-color: #227c70 !important;

  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  color: #ffffff !important;
}
.approveButton:hover {
  background-color: #2da393 !important;
  color: #ffffff !important;
}

.rejectButton {
  background-color: #a62c55 !important;

  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  color: #ffffff !important;
}
.rejectButton:hover {
  background-color: #b23e65 !important;
  color: #ffffff !important;
}
