@import "../../../fonts.css";

.afmpp_mainBody {
  margin-left: 60px;
}

.afmpp_heading {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 36px;
  position: relative;
  margin-top: 30px;
}

.afmpp_title_search {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.afmpp_title label {
  font-family: Mulish;
  font-size: 16px;
  margin-left: 10px;
  color: #ffffff;
}

.afmpp_table {
  margin-bottom: 30px;
  margin-left: 10px;
}

.afmpp_button {
  position: relative;
}

.afmpp_ActionButonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.approveButton {
  background-color: #227c70 !important;

  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  color: #ffffff !important;
}
.approveButton:hover {
  background-color: #2da393 !important;
  color: #ffffff !important;
}

.rejectButton {
  background-color: #a62c55 !important;
  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  color: #ffffff !important;
}
.rejectButton:hover {
  background-color: #b23e65 !important;
  color: #ffffff !important;
}