 @import "../../../fonts.css";

.PageHeader1{
    font-family: 'Inter', sans-serif; 
    font-weight: 500;
    color: #ffffff;
    font-size: 36px;
    margin-left: 5%;
    position: relative;
}
.PageHeader2{
    font-family: 'Inter', sans-serif; 
    font-weight: 500;
    color: #ffffff;
    font-size: 36px;
    margin-left: 7.5%;
    position: relative;
    display: flex;
}
.midbody{
    width: 90%;
    left: 6%;
    height: 73%;
    top: 25%;
   overflow-x: scroll;
    position: fixed;
    border-radius: 20px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.TableHeaders{
    font-family: 'Inter', sans-serif;
    position: sticky!important;
    margin-bottom: 4px;
    z-index: 3;
}

.stiky{
position: sticky;
left: 0;

}