@import "../../fonts.css";
.outer {
  overflow-x: hidden;
}
.th1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: large;
}
.td {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  width: 300px;
  height: 45px;
  text-align: center;
}
.TableHeaders {
  font-family: "Inter", sans-serif;
  position: sticky !important;
  margin-bottom: 4px;
  z-index: 3;
}

.stiky {
  position: sticky;
  left: 0;
}

.upperSection {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
.header2Section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  align-self: flex-end;
}

.Header {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  position: relative;
  margin-right: 12vw;
}

.PageContainer__header {
  padding-right: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.MiddleSection {
  padding-right: 28px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: left;
}

.tableContainer {
  border-radius: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.search {
  margin-bottom: 10px;

  align-self: flex-end;

  margin-left: 5px;
}
.baseTableContainer {
  padding-left: 20px;
  padding-right: 20px;
}
.downSection {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.header2Section {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  margin-right: 10px;
}

.rightButton {
  display: flex !important;
}

.ViewButton {
  background-color: #205295 !important;
}

.ViewButton:hover {
  background-color: #2c74b3 !important;
}

.TecAppointButton {
  background-color: #205295 !important;
}
.TecAppointButton:hover {
  background-color: #2c74b3 !important;
}

.outer {
  overflow-x: "hidden";
}

.detailsSection {
  display: flex;
  flex-direction: column;
  background-color: #205295;
  max-width: fit-content;
}
.viewEvidenceButton {
  background-color: #205295 !important;

  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff !important;
}
.viewEvidenceButton:hover {
  background-color: #2c74b3 !important;
  color: #ffffff !important;
}

.ActionButonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;

  width: 100%;
}

.approveButton {
  background-color: #227c70 !important;

  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  color: #ffffff !important;
}
.approveButton:hover {
  background-color: #2da393 !important;
  color: #ffffff !important;
}

.rejectButton {
  background-color: #a62c55 !important;

  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  color: #ffffff !important;
}
.rejectButton:hover {
  background-color: #b23e65 !important;
  color: #ffffff !important;
}
