@import "../../../fonts.css";

.th1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: large;
}
.td {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  width: 300px;
  height: 45px;
  text-align: center;
}
.TableHeaders {
  font-family: "Inter", sans-serif;
  position: sticky !important;
  margin-bottom: 4px;
  z-index: 3;
}

.stiky {
  position: sticky;
  left: 0;
}

.upperSection {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.Header {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  position: relative;
  margin-right: 12vw;
}
.header2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  margin-right: 5vw;
}

.ManageAuctionPageContainer__header {
  padding-right: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.MiddleSection {
  padding-right: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tableContainer {
  border-radius: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.search{
  margin-bottom: 10px;

  align-self: flex-end;

  margin-left: 5px;
}
.baseTableContainer {
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.downSection {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.header2Section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.dropdown {
  align-self: flex-end;
}
.rightButton {
  display: flex !important;
}

.TecAppointButton {
  margin-bottom: 10px;
  width: 200px;

  border-radius: 10px;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.ViewButton {
  background-color: #205295 !important;
}

.ViewButton:hover {
  background-color: #2c74b3 !important;
}

.TecAppointButton {
  background-color: #205295 !important;
}
.TecAppointButton:hover {
  background-color: #2c74b3 !important;
}
.fmpp_title_search {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.dropDown {
  overflow-x: auto;
}

.outer{
 overflow-x: "hidden" ;
}


.NotifyVendors{
    background-color: #205295 !important;
   
    margin-left: 2.5px!important;
    margin-right: 2.5px!important;
    color: #ffffff!important;
    ;
  }
  .NotifyVendors:hover{
    background-color: #2c74b3 !important;
    color: #ffffff!important;
  }
