@import "../../../fonts.css";

.fmpp-heading{
    font-family: 'Inter', sans-serif; 
    font-weight: 500;
    color: #ffffff;
    font-size: 36px;
    position: relative;
    margin-top: 30px;
}

/* .fmpp-title .selector{
    background-color: white;
}

.fmpp-title .selector:hover{
    background-color: white;
}

.fmpp-title .option{
    background-color: white;
} */