.NotificationPageContainer__header {
    padding-right: 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 75px;
  }

  .NotificationPageHeader {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 36px;
    position: relative;
    margin-right: 10vw;
  }
  .divide{
    display: flex;
    flex-direction: row;
  }

  .dropdown1{
    margin-left: 80px;
    margin-top: 20px;
  }

.table{
    margin-top: 20px;
    margin-left: 75px;
}
