@import "../../../fonts.css";

.vfmpp_mainBody {
  margin-left: 60px;
}

.vfmpp_heading {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 36px;
  position: relative;
  margin-top: 30px;
}

.vfmpp_search {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
}

.vfmpp_table {
  margin-bottom: 30px;
  margin-left: 10px;
  border-radius: 5;
}