

.note1 {
  font-size: 36px;
  font-family: "inter";
  margin-left: 100px;
  color: white;
}

.note2 {
  margin-left: 1675px;
  margin-top: 30px;
  border-radius: 90px;
  font-size: 24px;
  background-color: #205295;
  color: white;
  padding: 8px;
  border: none;
  width: 132px;
  display: flex;
  justify-content: center;
}


.Title{
    font-size: 36px;
    font-family: "inter";
    margin-left: 100px;
    color:white;
}

.Button{

    margin-left:1675px;
    margin-top: 30px;
    border-radius: 90px;
    font-size: 24px;
    background-color: #205295;
    color:white;
    padding:8px;
    border:none;
    width:132px;
    display:flex;
    justify-content:center;

}

.afmpp_heading {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 36px;
  position: relative;
  margin-top: 30px;
  margin-left: 60px;
}

.afmpp_table {
  margin-bottom: 30px;
  margin-left: 10px;
  margin-top: 135px;
}

.Header {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  position: relative;
  margin-right: 12vw;
}

.upperSection {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  
}

.ManageAuctionPageContainer__header {
  padding-right: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  
}