.NotificationPageContainer__header {
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 75px;
  }

  .NotificationPageHeader {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 36px;
    position: relative;
    margin-right: 10vw;
  }

  .dropdown1{
    margin-left: 75px;
    margin-bottom: 20px;
  }
  .divide{
    display:flex;
    flex-direction: column;
  }

.block{
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    padding: 10px;
    background-color: #205295;
    border-radius: 8px;
    width: 50%;
    height: 50px;
    

}

.table{
    margin-top: 20px;
    margin-left: 75px;
}